---
interface Props {
  title: string;
  src: string;
  alt: string;
  className: string;
  contentText: string;
}

const { title, src, alt, className, contentText } = Astro.props;
---

<article
  class={`card text-center max-w-96 px-6 py-9 m-auto border rounded-xl ${className}`}>
  <header>
    <h3 class="text-base font-medium pb-4 md:text-lg">
      {title}
    </h3>
  </header>
  <div class="content">
    <img src={src} alt={alt} width="120" height="120" class="m-auto" />
    <p>
      {contentText}
    </p>
  </div>
</article>

<style>
  .card {
    box-shadow:
      -2px 2px 10px #f3f3f3,
      2px -2px 10px #f3f3f3;
  }
</style>
