---
import Layout from "../../layouts/Layout.astro";
import Input from "../../components/Input.astro";
import Link from "../../components/Link.astro";
import Product from "../../components/Product/Product.astro";
import CardProduct from "../../components/Product/CardProduct.astro";
import ListItemProduct from "../../components/Product/ListItemProduct.astro";
import { getAllProducts, getProductsBy } from "../../services/product";

export function getStaticPaths() {
  const getProducts = getAllProducts();
  return getProducts.map(({ id }) => ({
    params: { id },
  }));
}

const { id } = Astro.params;
const products = typeof id === "string" ? getProductsBy({ id }) : null;
---

<Layout
  title=`CATEGORÍA: ${products?.category.toUpperCase()}`
  description="Los mejores productos industriales nacionales e importados a precios asequibles">
  <main>
    <Product title={`${products?.category.toUpperCase()}`}>
      <div slot="product-content">
        <Input
          class:list={"py-4 max-w-[90rem] mx-auto text-sm md:text-base lg:text-lg"}
          label="Buscar producto"
          type="search"
          key="txtSearch"
          placeholder="Buscar por característica del producto..."
        />

        {
          products?.subcategories.map(subcat => (
            <>
              <h3 class="cards-title text-xl font-bold border-b-2 pt-4 pb-1.5 mb-5 md:pt-12 md:pb-4 md:mb-8 md:text-xl lg:text-4xl">
                📝 {subcat.subcategory}
              </h3>

              <div class="cards mb-12">
                {subcat?.children?.map(child => (
                  <CardProduct title={child.name} img={child.img}>
                    <ul slot="card-details" class="text-gray-600 text-pretty mb-32">
                      {child.listProducts?.map(list => (
                        <ListItemProduct listDetail={list} />
                      ))}
                      <div class="absolute bottom-4 left-2/4 transform -translate-x-2/4 w-[90%] flex flex-col gap-2">
                        <Link
                          href={`https://wa.me/51948575179?text=Hola, Quisiera obtener mayor información de los siguientes productos: ${child.name.toUpperCase()} de la categoría de ${products.category.toUpperCase()}`}
                          target="_blank"
                          className="link-wsp text-white p-1.5 rounded-lg"
                          src="/whatsApp.svg"
                          alt={`Cotizar la categoria ${child.name} por WhatsApp`}
                          contentText="Cotizar Por WhatsApp"
                        />
                        <a
                          href={
                            "mailto:carlosteranzavaleta@hotmail.com?subject=Solicitud de información de la categoría de Productos: " +
                            products.category.toUpperCase() +
                            "&body=Hola quisiera obtener mayor información de los siguientes productos: " +
                            child.name.toUpperCase() +
                            " de la categoría de " +
                            products.category.toUpperCase()
                          }
                          class="link-email text-white p-1.5 rounded-lg bg-red-500">
                          Cotizar Por Email
                        </a>
                      </div>
                    </ul>
                  </CardProduct>
                ))}
              </div>
            </>
          ))
        }
      </div>
    </Product>
  </main>
</Layout>

<style lang="scss">
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.1rem;
  }

  @media screen and (min-width: 768px) {
    .cards {
      grid-template-columns: repeat(auto-fill, minmax(20.25rem, 1fr));
    }
  }
</style>

<script>
  const $txtSearch = document.getElementById("txtSearch") as HTMLInputElement | null;
  const $cardsTitle = document.querySelector(".cards-title") as HTMLElement | null;
  const $cards = document.querySelector(".cards") as HTMLElement | null;

  document.addEventListener("keyup", (e: Event) => {
    const isEvent = e.target instanceof Element;

    if (e.target === $txtSearch) {
      console.log($txtSearch?.value);
      const value = $txtSearch?.value;
    }
  });
</script>
