---
interface Props {
  title: string;
  src: string;
  href: string;
  className?: string;
}

const { title, src, href, className } = Astro.props;
---

<div
  class=`${className} border border-gray-200 rounded-xl shadow-md overflow-hidden relative`>
  <figure class="card-header">
    <img src={src} alt={title} loading="lazy" width="100%" class="h-52" />
  </figure>
  <div class="card-body px-4 pt-5 pb-20">
    <h5 class="text-xl font-bold tracking-tight">{title}</h5>
    <a
      href={href}
      class="inline-flex items-center justify-center w-full py-2.5 text-base font-medium text-center rounded-lg">
      Ver catálogo
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 10">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9">
        </path>
      </svg>
    </a>
  </div>
</div>

<style lang="scss">
  a {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    background-color: rgba(255, 191, 96, 1);
    transition: all 250ms ease-in-out;
    &:hover {
      font-size: 1.02em;
      background-color: rgba(255, 191, 96, 0.8);
    }
  }
</style>
