---
import { links as LINKS } from "../../config/links.json";
import { products as PRODUCTS } from "../../config/products.json";

const CLASSLINKS_DEFAULT = "block p-3 cursor-pointer transition-all text-clr-dark hover:font-bold hover:bg-clr-shadow";
---

<ul
  class="menu flex justify-center items-center flex-col overflow-hidden absolute top-full left-0 right-0 transition-all bg-white">
  {
    LINKS.map((link) => (
      <li class="menu-item border-b w-full xl:border-0">
        {link.name !== "Productos" ? (
          <a href={link.url} class={`${CLASSLINKS_DEFAULT} block`}>
            {link.name}
          </a>
        ) : (
          <span class={`item-link ${CLASSLINKS_DEFAULT} bg-clr-shadow text-base font-bold`}>{link.name}</span>
        )}

        {
          /* This code is apply of products */
          link.name === "Productos" && (
            <ul class="submenu last:border-b-0">
              <li class="submenu-item border-b w-full">
                <a href="/productos/todos" class={`${CLASSLINKS_DEFAULT} pl-8 block`}>
                  Buscar producto en específico{" "}
                </a>
              </li>

              {PRODUCTS.map((product) => (
                <li class="submenu-item border-b w-full">
                  <a href={product.url} class={`${CLASSLINKS_DEFAULT} pl-8 block`}>
                    {product.category}
                  </a>
                </li>
              ))}
            </ul>
          )
        }
      </li>
    ))
  }
</ul>

<style lang="scss">
  .menu {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;

    & li:last-child {
      border-bottom: 0;
    }

    &.is-active {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
    }
  }

  @media screen and (min-width: 1280px) {
    .menu {
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
      position: initial;
      display: flex;
      flex-direction: row;
      border: none;
      gap: 1.5rem;
      margin-top: 0.5rem;
      overflow: visible;

      &-item > a,
      &-item > .item-link {
        font-weight: 500;
        border-bottom: 3px solid transparent;
        transition: all 250ms ease-in-out;
        position: relative;
        background-color: transparent;
        padding: 0.3rem 0;
        height: 100%;
        padding: 1.4rem 0;

        &::before {
          content: "";
          display: inline-block;
          width: 0;
          position: absolute;
          bottom: 1.1rem;
          left: 0;
          border-bottom: 3px solid #ffbf60;
          transition: all 450ms ease-in-out;
          border-radius: 3px;
        }

        &:hover::before {
          width: 100%;
          box-shadow: 1px 1px 2px #ffbf60;
        }
      }

      &-item > .item-link:hover::before {
        width: calc(100% + 25px);
      }
    }

    .submenu {
      position: absolute;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      background-color: #fff;
      top: 100%;
      width: 350px;
      transition: all 300ms ease-in-out;

      &-item {
        border-bottom: 1px solid rgba(#999, 0.2);
        & > a {
          padding-left: 0.5rem;
        }
      }
    }

    // Active links of list the products
    .menu-item > .item-link {
      margin-right: 1rem;
    }

    .menu-item > .item-link::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(calc(-50% - 0.05rem));
      display: inline-block;
      width: 24px;
      height: 24px;
      background-repeat: no-repeat;
      background-image: url("/down.svg");
      transition: transform 250ms ease-in-out;
    }

    .menu-item > .item-link.is-active::after {
      transform: translateY(calc(-50% - 0.05rem)) rotate(180deg);
    }

    .menu-item > .item-link.is-active::before {
      width: calc(100% + 25px);
      box-shadow: 1px 1px 2px #ffbf60;
    }

    .menu-item > .item-link.is-active ~ .submenu {
      max-height: 1200px;
      visibility: visible;
      opacity: 1;
    }
  }
</style>

<script type="module">
  document.addEventListener("click", (e) => {
    const menuHamburguer = document.querySelector(".menu-hamburguer");
    const panelMenu = document.querySelector(".menu");
    const isEvent = e.target instanceof Element;

    // Active Submenu elements
    if (isEvent && e.target.matches(".menu-item > .item-link")) {
      e.target?.classList.toggle("is-active");
    }

    // Add class "isActive" when clicking on Hamburguer
    if (e.target === menuHamburguer) {
      panelMenu?.classList.toggle("is-active");
      menuHamburguer?.classList.toggle("is-active");
    }

    // Remove class "isActive" of the Panel and menuHamburguer
    if ((isEvent && e.target.matches(".menu-item")) || (isEvent && e.target.matches(".submenu-item"))) {
      panelMenu?.classList.remove("is-active");
      menuHamburguer?.classList.remove("is-active");
    }
  });
</script>
