---
export interface Props {
  href?: string;
  target?: string;
  src: string;
  alt: string;
  className: string;
  classImg: string;
  onclick?: string;
}

const { href, target, src, alt, className, classImg, onclick } = Astro.props;
---

<a
  href={href}
  target={target}
  onclick={onclick}
  class={`cursor-pointer fixed rounded-full transform hover:scale-105 transition-transform z-10 ${className}`}>
  <img src={src} alt={alt} class={classImg} />
</a>
