---
export interface Props {
  href?: string;
  target?: string;
  src: string;
  alt: string;
  classPosition: string;
  classImg: string;
}

const { href, target, src, alt, classPosition, classImg } = Astro.props;
---

<a
  href={href}
  target={target}
  class={`cursor-pointer fixed rounded-full transform hover:scale-110 transition-transform  ${classPosition} z-10`}>
  <img src={src} alt={alt} class={classImg} />
</a>
