---
type InputType =
  | "text"
  | "password"
  | "email"
  | "number"
  | "date"
  | "color"
  | "checkbox"
  | "search"
  | "radio";

interface Props {
  label: string;
  type: InputType;
  key: string;
  placeholder: string;
}

const { label, type, key, placeholder } = Astro.props;
---

<div class="mb-6">
  <label class="block text-gray-700 font-bold mb-2 text-left" for={key}>
    {label}
    {
      type !== "search" && (
        <span class="text-red-500 font-bold text-base pl-0.5">*</span>
      )
    }
  </label>
  <input
    class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    type={type}
    id={key}
    name={key}
    placeholder={placeholder}
    required
  />
</div>
