---
type InputType = "text" | "password" | "email" | "number" | "date" | "color" | "checkbox" | "search" | "radio";

interface Props {
  label: string;
  type: InputType;
  key?: string;
  className?: string;
  placeholder: string;
  isRequired?: boolean;
}

const { label, type, key, className, placeholder, isRequired = true } = Astro.props;
---

<div>
  <label class="block text-base md:text-lg text-gray-700 font-bold mb-2 text-left" for={key}>
    {label}
    {isRequired && <span class="text-red-500 font-bold text-base pl-0.5">*</span>}
  </label>
  <input
    class={`${className} shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline text-ellipsis`}
    type={type}
    id={key}
    name={key}
    placeholder={placeholder}
    required
  />
</div>
