---
interface Props {
  href?: string;
  className?: string;
  src: string;
  alt: string;
  contentText: string;
}

const { href, className, src, alt, contentText } = Astro.props;
---

<a
  href={href}
  class={`${className} link flex items-center gap-3 text-sm font-semibold transition-all cursor-pointer md:text-base`}>
  <img src={src} alt={alt} width="32" height="32" class="ml-5 md:ml-0" />
  <span>{contentText}</span>
</a>

<style lang="scss">
  .link:hover {
    transform: scale(1.02) translateY(-1px);
  }

  .link {
    &-wsp {
      background-color: rgba(21, 131, 63, 1);
      &:hover {
        background-color: rgba(21, 131, 63, 0.9);
      }
    }

    &-email {
      background-color: rgba(35, 100, 153, 1);
      &:hover {
        background-color: rgba(35, 100, 153, 0.9);
      }
    }

    &-form {
      border-radius: 8px;
      color: black;
      background-color: rgba(255, 191, 96, 1);
      &:hover {
        background-color: rgba(255, 191, 96, 0.8);
      }
    }
  }
</style>
