---
interface Props {
  href?: string;
  target?: string;
  className?: string;
  contentText: string;
  hasImage?: boolean;
  src?: string;
  alt?: string;
  onclick?: string;
}

const { href, target = "_blank", className, contentText, hasImage = true, src, alt, onclick } = Astro.props;
---

<a
  href={href}
  target={target}
  onclick={onclick}
  rel="noopener noreferrer"
  class={`link flex items-center gap-3 text-sm font-normal transition-all hover:font-semibold cursor-pointer md:text-base lg:text-lg ${className}`}>
  {hasImage && <img src={src} alt={alt} width="30" height="30" class="ml-5 md:ml-0" />}
  <span>{contentText}</span>
</a>

<style lang="scss">
  .link:hover {
    transform: scale(1.02);
  }

  .link {
    &-wsp {
      background-color: rgba(21, 131, 63, 1);
      &:hover {
        background-color: rgba(21, 131, 63, 0.9);
      }
    }

    &-email {
      background-color: rgba(35, 100, 153, 1);
      &:hover {
        background-color: rgba(35, 100, 153, 0.9);
      }
    }

    &-form {
      border-radius: 8px;
      color: black;
      background-color: rgba(255, 191, 96, 1);
      &:hover {
        background-color: rgba(255, 191, 96, 0.8);
      }
    }
  }
</style>
