---
interface Props {
  label: string;
  key: string;
  title: string;
  placeholder: string;
  dataPattern?: string;
}

const { label, key, title, placeholder, dataPattern } = Astro.props;
---

<>
  <label class="block text-base md:text-lg text-gray-700 font-bold mb-2 text-left" for={key}>
    {label}
    <span class="text-red-500 font-bold text-base pl-0.5">*</span>
  </label>

  <textarea
    rows="5"
    cols="20"
    class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight resize-none focus:outline-none focus:shadow-outline"
    id={key}
    name={key}
    title={title}
    placeholder={placeholder}
    data-pattern={dataPattern}
    required>
  </textarea>
</>

<script>
  const $textarea = document.querySelector("textarea");
  if ($textarea) $textarea.value = "";
</script>
